<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.catering">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@android:color/background_dark"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Member_Service_Details"></activity>
        <activity android:name=".Cancel_Service" />
        <activity android:name=".Remove_Member" />
        <activity android:name=".New_Services" />
        <activity android:name=".Service_Details" />
        <activity android:name=".Future_Services" />
        <activity android:name=".Done_Services" />
        <activity android:name=".Member_Details" />
        <activity android:name=".New_Member" />
        <activity android:name=".Main_Page" />
        <activity android:name=".Signup" />
        <activity android:name=".Login" />
        <activity android:name=".Home_Page" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>